<div class="container">
  <h2 class="center-text bottom-margin">Вы поставщик?</h2>
  <div class="row">
    <div class="col-sm-6">
      Для доступа к телефонам покупателей заполните форму или позвоните нам +7&nbsp;999&nbsp;888&#8209;77&#8209;66<br><br>
      Текст с дополнительной информацией по условиям сотрудничества.<br>
      Возможно стоит вынести его на отдельную страницу.<br>
      Текст с дополнительной информацией по условиям сотрудничества.<br>
      Возможно стоит вынести его на отдельную страницу.<br>
    </div>
    <form class="col-sm-6 container">
      <div class="row bottom-margin">
        <div class="col-sm-4 text-right">
          <label for="supplier-organization">Организация</label>
        </div>
        <div class="col-sm-8">
          <input id="supplier-organization" type="text" name="supplier-organization" class="width100">
        </div>
      </div>
      <div class="row bottom-margin">
        <div class="col-sm-4 text-right">
          <label for="supplier-phone">Телефон</label>
        </div>
        <div class="col-sm-8">
          <input id="supplier-phone" type="tel" name="supplier-phone" class="width100">
        </div>
      </div>
      <div class="row bottom-margin">
        <div class="col-sm-4 text-right">
          <label for="supplier-email">Email</label>
        </div>
        <div class="col-sm-8">
          <input id="supplier-email" type="email" name="supplier-email" class="width100">
        </div>
      </div>
      <div class="row bottom-margin">
        <div class="col-sm-4 text-right">
          <label for="supplier-name">Имя</label>
        </div>
        <div class="col-sm-8">
          <input id="supplier-name" type="text" name="supplier-name" class="width100">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
          <button type="submit" class="btn btn-default">Отправить информацию</button>
        </div>
      </div>
    </form>
  </div>
</div>

