{% extends 'base.html' %}
{% block title %}Поиск поставщика{% endblock %}

{% block header %}
  {% include 'includes/_header.html' %}
{% endblock %}


{% block main %}
  <div class="row">
    <div class="col-xs-6">
      <span class="companies">
      Участники в Новосибирске:
        <a href="#" class="underline basic-color">105 оптовых компаний</a>
      </span>
    </div>
    <div class="col-xs-6">
      <span class="float-right">
        <a href="#" class="underline basic-color">25 производителей</a>
      </span>
    </div>
  </div>

  <div class="row">
  {% include 'includes/_bid-form.html' %}
  </div>

  <div class="row">
    <h2 class="center-text bids-header">Свежие заявки</h2>
  {% include 'includes/_bids-header.html' %}

    <div class="bids">
  {% include 'includes/_bids-list.html' %}
      <a href="zajavki.html" class="btn btn-default center show-all-bids">Посмотреть все заявки</a>
    </div>

    <div class="row bids-header">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div id="feedbackCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for review in reviews %}
              <div class="item {{'active' if loop.first else ''}}">
                <header class="bold">{{review.author}} {{loop.index}}</header>
                <div class="shadowed">{{review.content}}</div>
              </div>
            {% endfor %}
          </div>
          <a class="left carousel-control" href="#feedbackCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Предыдущий</span>
          </a>
          <a class="right carousel-control" href="#feedbackCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Следующий</span>
          </a>
        </div>
    </div>
    <div class="col-md-2">
      <div class="make-review shift-right">
        <button class="btn btn-default">Оставить отзыв</button>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block footer %}
  {% include 'includes/_footer.html' %}
{% endblock %}

